<p id="notice"><%= notice %></p>

<p>
  <strong>Inquilino:</strong>
  <%= @whatsapp.inquilino %>
</p>

<p>
  <strong>Numero:</strong>
  <%= @whatsapp.numero %>
</p>

<p>
  <strong>Endereco:</strong>
  <%= @whatsapp.endereco %>
</p>

<%= link_to 'Edit', edit_whatsapp_path(@whatsapp) %> |
<%= link_to 'Back', whatsapps_path %>
