<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@inquilino) do |f| %>
      <%= f.label :nome %>
      <%= f.text_field :nome %>
      <%= f.label :cpf %>
      <%= f.text_field :cpf %>
      <%= f.label :rg %>
      <%= f.text_field :rg %>
      <%= f.label :telefone %>
      <%= f.text_field :telefone %>
      <%= f.label :ap %>
      <%= f.text_field :ap %>
      <%= f.label :codigoEletrobras %>
      <%= f.text_field :codigoEletrobras %>
      <%= f.label :dataInicio %>
      <%= f.date_select :dataInicio %>
      <%= f.label :dataFim %>
      <%= f.date_select :dataFim %>
      <%= f.label :dataVencimento %>
      <%= f.date_select :dataVencimento %>
      <%= f.label :pago %>
      <%= f.check_box :pago %>
      <div class="actions">
        <%= f.submit %>
      </div>
    <% end %>
    </div>
  </div>
