<div class="container-fluid">
  <div class="container-fluid" ">
    <%= simple_form_for(@inquilino) do |f| %>
    <%= f.error_notification %>
      <%= f.input :nome %>
      <%= f.input :cpf%>
      <%= f.input :rg %>
      <%= f.input :telefone %>
      <%= f.input :ap %>
      <%= f.input :codigoEletrobras %>
      <%= f.input :dataInicio %>
      <%= f.input :dataFim %>
      <%= f.input :dataVencimento %>
      <%= f.input :pago %>
        <div class="actions">
          <%= f.button :submit, class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
