
<br>
<h1>Inquilinos</h1>
<div class="container-fluid stripped-table">
<table class="table">
  <thead >
    <tr class="d-flex" style: background-color:black>
      <th class='col-2'>Nome </th>
      <th class='col-2'>Código Único </th>
      <th class='col-2'>Ap</th>
      <th class='col-2'>Pago</th>
      <th class='col-2'>Dia do vencimento</th>
    </tr>
  </thead>

  <tbody>
    <% @inquilinos.each do |inquilino| %>
      <tr>
        <td class='col-4'><%= link_to inquilino.nome.split(' ').first, inquilino %></td>
        <td class='col-4'><%= inquilino.codigoEletrobras %></td>
        <td class='col-2'><%= inquilino.ap %></td>
        <% if inquilino.pago.eql? true %>
        <td class='dotgreen'></td>
        <% else %>
        <td class='dotred'></td>
        <% end %>
        <td class='col-2'><%= inquilino.dataVencimento.day %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>

<%= button_to "Cadastrar Inquilino", new_inquilino_path, :class => "btn btn-success", :method => :get %>
