<br>
<h1><%= @inquilino.nome %></h1>
<div>
<p>
  <strong>CPF:</strong>
  <%= @inquilino.cpf %>
</p>

<p>
  <strong>RG:</strong>
  <%= @inquilino.rg %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @inquilino.telefone %>
</p>

<p>
  <strong>Kitnet:</strong>
  <%= @inquilino.ap %>
</p>

<p>
  <strong>Codigo da eletrobras:</strong>
  <%= @inquilino.codigoEletrobras %>
</p>

<p>
  <strong>Data de Início:</strong>
  <%= @inquilino.dataInicio %>
</p>

<p>
  <strong>Data de término do contrato:</strong>
  <%= @inquilino.dataFim %>
</p>

<p>
  <strong>Dia do vencimento:</strong>
  Dia <%= @inquilino.dataVencimento.day %>
</p>

<p>
  <strong>Status do pagamento:</strong>
  <% if @inquilino.pago.eql? true %>
    <button class='col-2 btn btn-success disabled'>Pagou</button>
  <% else %>
    <button class='col-2 btn btn-danger disabled'>Devendo</button>
  <% end %>

</p>
<p>
  <strong>Pagamentos feitos:</strong>
  <br>
  <% @inquilino.pagamentos.all.each do |x| %>
  Dia: <%= x.mes.split('-').reverse %>
  <br>
  <% end %>
</p>

<div class="form-inline">

  <%= link_to "Voltar", inquilinos_path, :class => "btn btn-success", :id => 'voltar', :method => :get %>
  <%= link_to "Editar", edit_inquilino_path(@inquilino), :class => "btn btn-info", :id => 'editar',:method => :get %>
  <%= link_to "Excluir", inquilino_path(@inquilino), :class => "btn btn-danger", :id => 'excluir', method: :delete, data: { confirm: 'Você tem certeza?' } %>
</div>
</div>
