<br>
<div class="container-fluid stripped-table">
<h1><%= @inquilino.nome %></h1>
<div class="col-md-4">
<p>
  <strong>Telefone:</strong>
  <%= @inquilino.telefone %>
</p>

<p>
  <strong>Kitnet:</strong>
  <%= @inquilino.ap %>
</p>

<p>
  <strong>Codigo da eletrobras:</strong>
  <%= @inquilino.codigoEletrobras %>
</p>

<p>
  <strong>Dia do vencimento:</strong>
  Dia <%= @inquilino.dataVencimento.day %>
</p>

<p>
  <strong>Status dos pagamentos:</strong>
  <% if @inquilino.pago.eql? true %>
    <button class='col-2 btn btn-success disabled'>Pagou</button>
  <% else %>
    <button class='col-2 btn btn-danger disabled'>Devendo</button>
  <% end %>

</p>
</div>
  <div class="col-md-4">
    <a href="<% @inquilino.whatsapp.endereco %>"  class="fa fa-whatsapp" style="font-size:80px;color:green">
    </a>
      <tr>
        <td class='col-md-4'><%= link_to 'Editar', edit_whatsapp_path(@inquilino.whatsapp), :class => 'btn'%>
      </tr>
  </div>
</div>

<br>
<h1>Mensalidades</h1>
<div class="container-fluid stripped-table">
<table class="table">
  <thead >
    <tr class="d-flex" style: background-color:black>
      <th class='col-3'>Data de Vencimento</th>
      <th class='col-2'>Status </th>
    </tr>
  </thead>

  <tbody>
    <% @inquilino.mensalidades.each do |mes| %>
      <tr>
        <td class='col-4'><%= link_to mes.mes.strftime("%d/%m/%Y"), mes %></td>
        <% if mes.pago.eql? true %>
        <td><%= link_to "", mes, :class => "dotgreen"%></td>
        <% else %>
        <td><%= link_to "", mes, :class => "dotred"%></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<div class="form-inline">

  <%= link_to "Voltar", inquilinos_path, :class => "btn btn-success", :id => 'voltar', :method => :get %>
  <%= link_to "Editar", edit_inquilino_path(@inquilino), :class => "btn btn-info", :id => 'editar',:method => :get %>
  <%= link_to "Excluir", inquilino_path(@inquilino), :class => "btn btn-danger", :id => 'excluir', method: :delete, data: { confirm: 'Você tem certeza?' } %>
</div>
</div>
