<div id="tesste"
<br>
<br>
<br>
<br>
<br>
<br>

<div class="login-wrap">
<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="login-html">
    <h1 style="color:blue">Login</h1>
      <div id="xxx">
        <div id="eemail">
          <%= f.input :email,
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "email" } %>
        </div>
        <div id="seenha">
          <%= f.input :password,
                      required: true,
                      input_html: { autocomplete: "current-password" } %>
        </div>
        <div id="memorizar">
          <%= f.input :remember_me, :label => "Lembrar senha?", as: :boolean if devise_mapping.rememberable? %>
        </div
        <div class="form-actions"align="center">
          <%= f.button :submit, "Entrar", :class => "btn btn-success" %>
        </div>
      </div>
  </div>
  </div>



<% end %>
<br>
<br>
<br>

</div>
